<h1><%= @book.title %></h1>
<h2><%= @book.author %>, <%= @book.publishing_date %></h2>
<br>
<%= link_to "Edit this Book", edit_book_path(@book) %>
<%= link_to "Delete this Book", book_path(@book), method: :delete %>
